@using BookStore.ViewModel

@model List<RoleVM>

@section Title {
Roles
}
@section SubTitle {
Show
}

@section Buttons {
    <a asp-controller="Roles" asp-action="Create" class="btn btn-primary">Create</a>
}
<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="2">
                        <div class="alert alert-warning alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                            no data
                        </div>
                    </td>
                </tr>

            }
            else
            {
                @foreach (var item in @Model)
                {
                    <tr>
                   
                        <td>
                            @item.Name
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>